$primary: #4f8cff;
$secondary: #242424;
$background: #fff;
$text-main: #fff;
$text-muted: #959595;
$danger: #ff595e;
$success: #3be081;
$radius: 14px;
$transition: .2s;
$font-main: 'Inter', Arial, sans-serif;
$shadow: 0 4px 24px rgba(0,0,0,0.07);
